.header {
    display: flex;
    justify-content: space-between;
    height: 294px;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    text-underline-offset: 5px;
    
    

}
.header__menu, 
.header__address {
    width: 400px;
}

.header__menu ul {
    list-style-type:circle;
    display:inline-flex ;
    
}

.header__links-list-item_no-bullit a {
    text-decoration: none;
    
}

.header__menu li {
    margin-left: 32px;
}

li.header__links-list-item_no-bullit {
    list-style-type: none;
    margin: 0;
}

.header__logo {
    width: 138px;
}

.header__address  {
    padding-left: 160px;

}

.section {
    padding-left: 50px;
    padding-right: 50px;
}





